.social-link-item {
  transition: width 0.3s ease-in-out;
}

.social-link-item:hover .social-link-text {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.social-link-text {
  display: inline-block;
  margin-left: 10px;
  opacity: 0;
}
