.ExpContainer {
  color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px;
}

.ExpWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ExpMarquee {
  display: flex;
  overflow: hidden;
  user-select: none;
}

.ExpMarqueeGroup {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  /* Change flex-direction to column */
  white-space: nowrap;
  height: 100%;
  margin-bottom: 20px;
  width: auto;
}

.work-experience-card {
  background: #c8c8c8;
  border-radius: 0.65rem;
  border: 1.5px solid #ecf0f1;
  padding: 1.5rem;
  max-width: 1200px;
  /* Set a max-width instead of a fixed width */
  width: 100%;
  /* Make each card take the full width */
  text-align: left;
  margin-bottom: 3rem;
}

.work-experience-card h6 {
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
  text-align: left;
  word-wrap: break-word;
}

.work-experience-card p {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
  font-style: italic;
  text-align: left;
  padding: 0.4rem 0.6rem;
}

.workex-duration {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 400;
  background: rgba(200, 200, 200, 0.1);
  border-radius: 0.3rem;
  padding: 0.4rem 0.6rem;
  margin-bottom: 1.3rem;
  text-align: left;
}

.work-experience-card ul li {
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  position: relative;
  text-align: left;
  /* Align the text to the left */
  white-space: normal;
  /* Allow text to wrap within the list item */
  width: 100%;
  /* Adjust the width as needed */
}

.work-experience-card ul li::after {
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ecf0f1;
  border-radius: 0.5rem;
  position: absolute;
  left: -1.3rem;
  top: 0.35rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #000;
}

.work-img {
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  .ExpMarqueeGroup {
    width: 660px;
    /* Set the max-width to 100% for smaller screens */
  }
}

@media (max-width: 500px) {
  .ExpMarqueeGroup {
    width: 300px;
    /* Set the max-width to 100% for smaller screens */
  }

  .work-experience-card h6 {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  .work-experience-card p{
    hyphens: auto;
    font-size: 0.4rem;
    font-weight: 600;
  }
  
}

