.about-container {
    margin: 4rem 0;
    position: relative;
}

.about-content {
    flex: 1;
}
.about-content h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #001f3f;
}

.about-content p {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
    color: #001f3f;
}